In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Load the Dataset
df_cleaned = pd.read_csv("cleaned_dataset.csv")

In [6]:
df_cleaned.head()

,Date,Location,Operator,Flight #,AC Type,Registration,Fatalities,Fatalities Passangers,Fatalities Crew
0,1/16/1928,"Solis, Uruguay",Aeropostale,F-AIKG,Latecoere 25,F-AIKG,2.0,0.0,2.0
1,1/19/1930,"Oceanside, California",Maddux Airlines,7,Ford 5-AT-C Tri Motor,NC9689,16.0,14.0,2.0
2,3/31/1931,"Bazaar, Kansas",Trans Continental and Western Air,599,Fokker F10A Trimotor,NC-999,8.0,6.0,2.0
3,8/31/1934,"Amazonia, Missouri",Rapid Air Transport,6,Stinson SM-6000B,NC11118,5.0,4.0,1.0
4,5/6/1935,"Atlanta, Missouri",Trans Continental and Western Air,6,Douglas DC-2-112,NC13785,5.0,3.0,2.0

In [8]:
# Data Preprocessing

# Convert 'Date' column to datetime
df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'], errors='coerce')

# Create new features
df_cleaned['Year'] = df_cleaned['Date'].dt.year
df_cleaned['Month'] = df_cleaned['Date'].dt.month
df_cleaned['Day'] = df_cleaned['Date'].dt.day

In [9]:
# Display the dataset with new features
print("\nDataset with New Features:")
df_cleaned.head()

Dataset with New Features:

,Date,Location,Operator,Flight #,AC Type,Registration,Fatalities,Fatalities Passangers,Fatalities Crew,Year,Month,Day
0,1928-01-16,"Solis, Uruguay",Aeropostale,F-AIKG,Latecoere 25,F-AIKG,2.0,0.0,2.0,1928,1,16
1,1930-01-19,"Oceanside, California",Maddux Airlines,7,Ford 5-AT-C Tri Motor,NC9689,16.0,14.0,2.0,1930,1,19
2,1931-03-31,"Bazaar, Kansas",Trans Continental and Western Air,599,Fokker F10A Trimotor,NC-999,8.0,6.0,2.0,1931,3,31
3,1934-08-31,"Amazonia, Missouri",Rapid Air Transport,6,Stinson SM-6000B,NC11118,5.0,4.0,1.0,1934,8,31
4,1935-05-06,"Atlanta, Missouri",Trans Continental and Western Air,6,Douglas DC-2-112,NC13785,5.0,3.0,2.0,1935,5,6

In [11]:
# Convert Categorical Data using One-Hot Encoding
df_encoded = pd.get_dummies(df_cleaned, columns=['Location', 'Operator', 'AC Type'], drop_first=True)

# Display the dataset with one-hot encoded categorical variables
print("\nDataset with One-Hot Encoded Categorical Variables:")
print(df_encoded.head())

Dataset with One-Hot Encoded Categorical Variables:
        Date Flight # Registration  Fatalities  Fatalities Passangers  \
0 1928-01-16   F-AIKG       F-AIKG         2.0                    0.0
1 1930-01-19        7       NC9689        16.0                   14.0
2 1931-03-31      599       NC-999         8.0                    6.0
3 1934-08-31        6      NC11118         5.0                    4.0
4 1935-05-06        6      NC13785         5.0                    3.0

   Fatalities Crew  Year  Month  Day  Location_\tPreobrazhenka, Ukraine  ...  \
0              2.0  1928      1   16                              False  ...
1              2.0  1930      1   19                              False  ...
2              2.0  1931      3   31                              False  ...
3              1.0  1934      8   31                              False  ...
4              2.0  1935      5    6                              False  ...

   AC Type_de Havilland DH-114 Heron  AC Type_de Havilland DH-114 Heron 2  \
0                              False                                False
1                              False                                False
2                              False                                False
3                              False                                False
4                              False                                False

   AC Type_de Havilland DH-114 Heron 2B  AC Type_de Havilland DH106 Comet 1  \
0                                 False                               False
1                                 False                               False
2                                 False                               False
3                                 False                               False
4                                 False                               False

   AC Type_de Havilland DHC -6-100  AC Type_de Havilland DHC-6 Twin Otter  \
0                            False                                  False
1                            False                                  False
2                            False                                  False
3                            False                                  False
4                            False                                  False

   AC Type_de Havilland DHC-6 Twin Otter 300  \
0                                      False
1                                      False
2                                      False
3                                      False
4                                      False

   AC Type_de Havilland DHC-6 Twin Otter 400  AC Type_de Havilland DHC-6-200  \
0                                      False                           False
1                                      False                           False
2                                      False                           False
3                                      False                           False
4                                      False                           False

   AC Type_de Havilland Dash-2 Beaver
0                               False
1                               False
2                               False
3                               False
4                               False

[5 rows x 2642 columns]

In [12]:
# Save the dataset with new features
preprocessed_file_path = "cleaned_acf.csv"
df_encoded.to_csv(preprocessed_file_path, index=False)

print(f"Dataset with new features saved to: {preprocessed_file_path}")

Dataset with new features saved to: cleaned_acf.csv