In [1]:
# Import Libraries
import pandas as pd

In [2]:
# Load the Dataset
df = pd.read_csv("acf.csv", encoding='latin1')

In [3]:
df.head()

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,9/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,9/7/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,7/12/1912,6:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,8/6/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,9/9/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...

In [4]:
# Drop Columns
columns_to_drop = ['Time', 'Route', 'cn/ln', 'Aboard', 'Aboard Passangers', 'Aboard Crew', 'Ground', 'Summary']
df_cleaned = df.drop(columns=columns_to_drop)

In [5]:
df_cleaned.head()

,Date,Location,Operator,Flight #,AC Type,Registration,Fatalities,Fatalities Passangers,Fatalities Crew
0,9/17/1908,"Fort Myer, Virginia",Military - U.S. Army,NaN,Wright Flyer III,NaN,1.0,1.0,0.0
1,9/7/1909,"Juvisy-sur-Orge, France",NaN,NaN,Wright Byplane,SC1,1.0,0.0,0.0
2,7/12/1912,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Dirigible,NaN,5.0,0.0,5.0
3,8/6/1913,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,NaN,1.0,0.0,1.0
4,9/9/1913,Over the North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),NaN,14.0,NaN,NaN

In [6]:
df_cleaned.shape

(4998, 9)

In [7]:
# Handling Missing Values
# Drop rows with missing values
df_cleaned = df_cleaned.dropna()

In [8]:
df_cleaned.shape

(1312, 9)

In [9]:
df_cleaned.isnull().sum()

Date                     0
Location                 0
Operator                 0
Flight #                 0
AC Type                  0
Registration             0
Fatalities               0
Fatalities Passangers    0
Fatalities Crew          0
dtype: int64

In [10]:
# Save the Cleaned Dataset
cleaned_file_path = "cleaned_dataset.csv"
df_cleaned.to_csv(cleaned_file_path, index=False)